CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_M5PM_TEST_ID="frontlight_levels"
CONFIG_M5PM_CONFIG_ID="frontlight-0"
CONFIG_M5PM_FRONTLIGHT_0=y
