# Prerequisites
*.d

# Python cache
__pycache__/
*.py[cod]

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS desktop metadata files
.DS_Store

# Build files
build/
cmake-build-*/
managed_components/

# ESP-IDF generated project configuration
sdkconfig
sdkconfig.old

# Components installed by fetch_repos.py
/components/espressif__cmake_utilities/
/components/espressif__i2c_bus/
/components/ic_rx8130/
/components/M5GFX/
/components/M5HAL/
/components/M5IOE1/
/components/M5PM1/
/components/M5Unit-NFC/
/components/M5UnitUnified/
/components/M5Utility/
/components/RadioLib/
/components/BMI270/
.clang-format-bin.tmp
/_component_backups/
/.fetch_repos-*/

# PlatformIO
.pio/

# VSCode
.vscode/
.cache/

# Python virtual environment
.venv/

# Debug / Release files
Debug/
debug/
Release/
release/
out/
bin/
obj/

*.code-workspace
