menu "M5PaperMono test support"

    config M5PM_TEST_ID
        string "Stable test identifier"
        default "unset"

    config M5PM_CONFIG_ID
        string "Stable test configuration identifier"
        default "unset"

endmenu
